language: php

sudo: false

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - hhvm

matrix:
  fast_finish: true

branches:
  only:
    - "master"

cache:
  directories:
    - $HOME/.composer/cache
    - vendor

before_install:
  - composer selfupdate

install:
  - composer install --no-progress --no-interaction --prefer-dist

before_script:
  - mkdir -p build/logs

script:
  - composer run test

after_script:
  - php ./vendor/bin/coveralls
