<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./vendor/autoload.php"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         strict="true"
         syntaxCheck="true"
         verbose="true"
         colors="true"
>
  <testsuites>
    <testsuite name="Package Test Suite">
      <directory suffix=".php">test/</directory>
    </testsuite>
  </testsuites>
</phpunit>
